<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <style>
        .disabled{
    background-color: rgb(209, 206, 206);
    cursor: not-allowed;
    }
    </style>
    <meta charset="UTF-8">
    <title>si-Factory</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>    
<body>
<nav th:replace="fragments/fragment :: navbar('item')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="text-align: center;">Update Stok Item</h2>
                <br>
                <form th:action="@{/item/update-stok/rui/} + ${ruiId}"  method="POST" onsubmit="return confirm('Apakah anda yakin untuk update stok item?');">
                    <input type="hidden" name="userNamePegawai" th:value="${#httpServletRequest.userPrincipal.name}">
                    Jumlah Stok : <br>
                    <input class="disabled" type="number" name="jumlahStok" th:value="${stokTambahan}" readonly="true"/>
                    <br><br>

                    Mesin : <br>
                    <select name="idMesin" class="form-control">
                        <option th:each="mesin : ${listMesinfiltered}"
                                th:text="${mesin.namaMesin}"
                                th:value="${mesin.idMesin}">
                        </option>
                    </select>
                    <br><br>

                    <button class="btn btn-primary" type="submit" name="save" onclick="myFunction()">Submit</button>
                    <a class="btn btn-primary" href="/">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>